{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "tsconfig": "./tsconfig.jest.json"
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true,
      "useDefineForClassFields": false
    },
    "target": "es2020"
  },
  "module": {
    "type": "es6"
  }
}
